* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;

}

body {
  background-color: #111;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent {
  color: #fff;
  display: flex;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 20px 10px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

button {
  padding: 10px 20px;
  color: #111;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}