* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 10px 20px;
  box-shadow: 0 0 10px rgb(49, 49, 49);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  font-size: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}