.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1d1d;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul>li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}