*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #111;
}

.card{
  background-color: pink;
  border-radius: 50px;
  padding: 20px;
  margin-top: 10px;
}